
<!--META TAGS-->
<!-- Sitio-->
<ons-page class="lista">
  <ons-toolbar>
    <div class="left">
      <ons-back-button>Cancelar</ons-back-button>
    </div>
    <div class="center">Elegir</div>
  </ons-toolbar>
  <ons-scroller>
    <ons-list ng-controller="ListaSitiosController">
      <ons-list-item ng-animate="'zoom'" ng-show="failed">Ocurrió un error al cargar los sitios.</ons-list-item>
      <ons-list-header>
        <ons-row>
          <ons-col>Clave</ons-col>
          <ons-col>Sitio</ons-col>
          <ons-col>ID</ons-col>
          <ons-col>Tipo</ons-col>
        </ons-row>
      </ons-list-header>
      <ons-list-item ng-repeat="item in sitios | orderBy:'Clave'" modifier="tappable" ng-click="">
        <ons-row>
          <ons-col>{{item.Clave}}</ons-col>
          <ons-col>{{item.Sitio}}</ons-col>
          <ons-col>{{item.ID}}</ons-col>
          <ons-col>{{item.Tipo}}</ons-col>
        </ons-row>
      </ons-list-item>
    </ons-list>
  </ons-scroller>
</ons-page>