
<!--META TAGS-->
<!-- Sitio-->
<ons-list ng-controller="ListaCatalogosController" class="selectFromList">
  <ons-list-header class="filtroHeader">
    <ons-row>
      <ons-col>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input type="text" id="queryFilter" ng-model="query" class="mdl-textfield__input"/>
          <label for="queryFilter" class="mdl-textfield__label">Buscar</label>
        </div>
      </ons-col>
      <ons-col></ons-col>
    </ons-row>
  </ons-list-header>
  <ons-list-item ng-animate="'zoom'" ng-show="failed">Ocurrió un error al cargar los sitios.</ons-list-item>
  <ons-list-item ng-repeat="item in catalogos | orderBy:'Familia' | filter: query" modifier="tappable" class="onslistSitios">
    <div ng-click="asignSelection(item.Clave);">
      <ons-row class="miniInfo">
        <ons-col><strong><span>{{item.Clave}}</span></strong></ons-col>
        <ons-col>Fam: <span>{{item.Familia}}</span></ons-col>
      </ons-row>
      <ons-row>
        <ons-col>{{item.Equipo}}</ons-col>
      </ons-row>
    </div>
  </ons-list-item>
</ons-list>