- var titulo = "SCOPE"
- var dominio = "index.html"
//META TAGS
- var keywords = ""
- var description = ""
- var stylesheets = ['']
- var javascripts = ['jslib/angular.js', 'jslib/jquery.js', 'jslib/onsenui.js', 'jslib/material.js', 'jslib/properDB.js', 'jslib/taffy.js', 'jslib/ng-cordova.min.js', '../../cordova.js','script.js', 'dbhandler.js', 'index.js']
// Sitio 
- var logo = "logo.svg" 
- var logoAlt = ""

- var menu = []
- menu.push(['inicio', 'Inicio'])
- menu.push(['requerimientos', 'Requerimientos para obras', 'ion-pull-request'])
- menu.push(['proveedor', 'Proveedor', 'ion-ios-body'])
- menu.push(['transformacion', 'Transformación', 'ion-wand'])
- menu.push(['baja', 'Baja de equipo', 'ion-backspace'])
- menu.push(['inventario', 'Inventario de obra', 'ion-filing'])
- menu.push(['relacion', 'Envío y recepción', 'ion-arrow-swap'])
- menu.push(['inspeccion', 'Inspección de la obra', 'ion-search'])
- menu.push(['acero', 'Acero', 'ion-cube'])
- menu.push(['concreto', 'Concreto', 'ion-android-funnel'])
- menu.push(['catalogo', 'Catálogo', 'ion-images'])
- menu.push(['datos', 'Datos', 'ion-clipboard'])
