include _config.jade
include _mixins.jade
ons-page.lista
  ons-toolbar
    .left
      ons-back-button Cancelar
    .center Elegir
  ons-scroller
    ons-list(ng-controller="ListaSitiosController")
      ons-list-item(ng-animate="'zoom'", ng-show="failed") Ocurrió un error al cargar los sitios.
      ons-list-header
        ons-row
          ons-col Clave
          ons-col Sitio
          ons-col ID
          ons-col Tipo
      ons-list-item(ng-repeat="item in sitios | orderBy:'Clave'", modifier="tappable", ng-click="")
        ons-row
          ons-col {{item.Clave}}
          ons-col {{item.Sitio}}
          ons-col {{item.ID}}
          ons-col {{item.Tipo}}