include _config.jade
include _mixins.jade

ons-page.inspeccion
  +ons-toolbar('Inspección de la obra')
  ons-bottom-toolbar(modifier="transparent").text-right.pageAction
    button(type="button", onclick="alert('Realizar transformación');").mdl-button.mdl-js-button
      ons-icon(icon="ion-ios-paperplane")
      |  Guardar


  form(action="#")
    
    ons-row
      .titulo
         ons-icon(icon="ion-ios-arrow-right")
         |  Información
    .m10
      ons-row
        ons-col: +input('folioSitio', 'Folio sitio')
        ons-col: +input('folioScope', 'Folio SCOPE')
        ons-col: +input('fecha', 'Fecha', 'date')
      ons-row
        ons-col: +input('sitio', 'Sitio', 'text', 'db_sitios.html')
        ons-col
        ons-col
      hr
    ons-row
      .titulo
        ons-icon(icon="ion-ios-arrow-right")
        |  Inspección
    .m10
      ons-row
        table.mdl-data-table.mdl-js-data-table
          thead
            tr
              th Cantidad
              th Clave
              th Descripción
              th Motivo
              th.addButton(ng-controller="AddItemDialogController")
                button(type="button", ng-click="show('addItem.html')").mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored
                  ons-icon(icon="ion-plus-round")
          tbody
            tr
              td 1
              td 1023
              td Descripción del equipo
              td Motivo de la baja del equipo
              td: a(href="#"): ons-icon(icon="ion-close-round")

ons-template(id="addItem.html")
  ons-dialog(var="addItemDialog" cancelable)
    ons-toolbar(inline)
      .center Añadir nuevo
    .m10.inspeccion
      p Captura o selección de imagen
      ons-row
        ons-col.text-center
          button(type="button", ng-click="alert('Tomar foto');").mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored
            ons-icon(icon="ion-camera")
      p Información
      ons-row
        ons-col: +input('observaciones', 'Observaciones')
      ons-row
        ons-col.text-center
          button(type="button", ng-click="addItemDialog.hide()").mdl-button.mdl-js-button.mdl-button--colored
            ons-icon(icon="ion-plus-round")
            |  Añadir elemento
