include _config.jade
include _mixins.jade 

doctype html
html(lang="es")
  head
    +head(titulo + "" , stylesheets, keywords, description)
  body

    +sliding-menu
    +navigation(menu)
    
    +hrcolors('top')
    +hrcolors('bottom')

    +scripts 
    script(type="text/javascript", src="cordova.js")
    script(type="text/javascript", src="assets/js/index.js")
    script(src="http://localhost:8080/target/target-script-min.js#anonymous")
