include _config.jade
include _mixins.jade
ons-navigator(title="Elegir opción", var="autocomplete")
  ons-page.relacion
    +ons-toolbar('Relación de envío y recepción')
    form(action="#", ng-controller="RelacionCtrl")
      ons-bottom-toolbar(modifier="transparent").text-right.pageAction
        button(type="button", ng-click="save()").mdl-button.mdl-js-button
          ons-icon(icon="ion-ios-paperplane")
          |  Guardar
      ons-row
        .titulo
           ons-icon(icon="ion-ios-arrow-right")
           |  Información
      .m10
        ons-row
          //ons-col: +input('Folio', 'Folio', 'number')
          //Entrada o salida | obligatoria
          ons-col: +input('TipoRemision', 'Tipo de remisión')
          ons-col: +input('NoRemision', 'Nº de remisión SCOPE', 'number')
          ons-col: +input('fecha', 'Fecha', 'date')
        ons-row
          ons-col: +input('ClaveSitioDestion', 'Sitio destino', 'text', 'lateral_db_sitios.html')
          ons-col: +input('ClaveSitioOrigen', 'Sitio orígen', 'text', 'lateral_db_sitios.html')
        hr
      ons-row
        .titulo
          ons-icon(icon="ion-ios-arrow-right")
          |  Datos
      ons-row
        p.label Envío
      .m10
        ons-row
          ons-col: +input('FechaEmbarque', 'Fecha de embarque', 'date')
          ons-col: +input('FechaArribo', 'Fecha estimada de arribo', 'date')
          ons-col: +input('Responsable', 'Responsable')
        hr
      ons-row
        p.label Transporte
      .m10
        ons-row
          ons-col: +input('Compania', 'Compañía')
          ons-col: +input('PlacaVehiculo', 'Placa del vehículo')
          ons-col: +input('PlacaPlataforma', 'Placa de plataforma')
        hr
      ons-row
        p.label Responsivas
      .m10
        ons-row.text-center
          ons-col
            p Por este medio hago constar que recibo en buen estado el 100% del material incluido en la lista y me comprometo a devolver la totalidad del mismo en las mismas condiciones en las que se ha recibido.
          ons-col
            ul.list
              li.list__item
                | Superintendente / Residente
                label.switch.switch--list-item
                  input(type="checkbox", ng-model="campos.responsiva.ResponsivaSuperintendente").switch__input
                  .switch__toggle
              li.list__item
                | Administrador de andamio
                label.switch.switch--list-item
                  input(type="checkbox", ng-model="campos.responsiva.ResponsivaAdministrador").switch__input
                  .switch__toggle
              li.list__item
                | Contratista / Subcontratista
                label.switch.switch--list-item
                  input(type="checkbox", ng-model="campos.responsiva.ResponsivaContratista").switch__input
                  .switch__toggle
  
      hr   
      ons-row
        .titulo
          ons-icon(icon="ion-ios-arrow-right")
          |  Relaciones
      .m10
        ons-row
          table.mdl-data-table.mdl-js-data-table
            thead
              tr
                th Captura
                th Clave
                th Cantidad enviada
                th Cantidad recibida
                th Diferencia
                th.addButton(ng-controller="AddItemDialogController")
                  button(type="button", ng-click="show('addItem.html')").mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored
                    ons-icon(icon="ion-plus-round")
            tbody(ng-controller="TableCtrl")
              tr(ng-repeat="item in items track by $index")
                
                td: img(ng-src="", alt="")#picture 
                td: input(ng-model="campos.elemento[$index].clave", ng-init="campos.elemento[$index].clave=item.clave").mdl-textfield__input 
                td: input(ng-model="campos.elemento[$index].cantidadEnviada", ng-init="campos.elemento[$index].cantidadEnviada=item.cantidadEnviada").mdl-textfield__input 
                td: input(ng-model="campos.elemento[$index].cantidadRecibida", ng-init="campos.elemento[$index].cantidadRecibida=item.cantidadRecibida").mdl-textfield__input 
                //Es calculado:
                td {{campos.elemento[$index].cantidadEnviada - campos.elemento[$index].cantidadRecibida}}
                td: a(href="#", ng-click="removeItem($index)"): ons-icon(icon="ion-close-round")
      ons-row
        p.label Notas
      .m10
        ons-row
          ons-col: +input('Notas', 'Notas')          
                
              
ons-template(id="addItem.html")
  ons-dialog(var="addItemDialog" cancelable).relacion
    ons-toolbar(inline)
      .center Añadir nuevo
    form(action="#", ng-controller="DialogCtrl", ng-submit="submit()").m10.relacion
      p Captura o selección de imagen
      ons-row
        ons-col.text-center
          button(type="button", ng-click="camera()").mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored
            ons-icon(icon="ion-camera")
      p Datos
      ons-row
        ons-col: +input('clave', 'Clave', 'text', 'lateral_db_catalogos.html')
        ons-col
      ons-row
        ons-col: +input('cantidadEnviada', 'Cantidad enviada')
        ons-col: +input('cantidadRecibida', 'Cantidad recibida')
      ons-row
        ons-col.text-center
          button(type="button", ng-click="addItemDialog.hide()").mdl-button.mdl-js-button.mdl-button--colored
            ons-icon(icon="ion-close")
            |  Cancelar
        ons-col.text-center
          button(type="submit", ng-click="addItemDialog.hide()").mdl-button.mdl-js-button.mdl-button--colored
            ons-icon(icon="ion-plus-round")
            |  Añadir elemento
