include _config.jade
include _mixins.jade
ons-navigator(title="Elegir opci칩n", var="autocomplete")

  ons-page.requerimientos
    +ons-toolbar('Requerimientos para obras')

  
  
    form(action="#", ng-controller="RequerimientosCtrl")
      ons-bottom-toolbar(modifier="transparent").text-right.pageAction
        button(type="button", ng-click="save()").mdl-button.mdl-js-button
          ons-icon(icon="ion-ios-paperplane")
          |  Guardar
      ons-row
        .titulo
           ons-icon(icon="ion-ios-arrow-right")
           |  Informaci칩n
      .m10
        ons-row
          //ons-col: +input('folio', 'Folio')
          ons-col: +input('remision', 'No. de requerimiento SCOPE', 'number')
          ons-col: +input('fecha', 'Fecha', 'date')
          ons-col
        ons-row
          ons-col: +input('requerimientoInicial', 'Requerimiento inicial')
          ons-col: +input('requerimientoComplementario', 'Requerimiento complementario')
          ons-col
        ons-row
          ons-col: +input('sitio', 'Sitio', 'text', 'lateral_db_sitios.html')
          ons-col: +input('fechaEntrega', 'Fecha de entrega', 'date')
          ons-col
        hr
      ons-row
        .titulo
          ons-icon(icon="ion-ios-arrow-right")
          |  Requerimientos
      .m10
        ons-row
          table.mdl-data-table
            thead
              tr
                th Cantidad
                th Unidad
                th Clave
                th.addButton(ng-controller="AddItemDialogController")
                  button(type="button", ng-click="show('addItem.html')").mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored
                    ons-icon(icon="ion-plus-round")
            tbody(ng-controller="TableCtrl")
              tr(ng-repeat="item in items track by $index")
                td: input(ng-model="campos.elemento[$index].cantidad", ng-init="campos.elemento[$index].cantidad=item.cantidad").mdl-textfield__input 
                td: input(ng-model="campos.elemento[$index].unidad", ng-init="campos.elemento[$index].unidad=item.unidad").mdl-textfield__input
                td: input(ng-model="campos.elemento[$index].clave", ng-init="campos.elemento[$index].clave=item.clave").mdl-textfield__input
                td: a(href="#", ng-click="removeItem($index)"): ons-icon(icon="ion-close-round")


    ons-template(id="addItem.html")
      ons-dialog(var="addItemDialog" cancelable).requerimientos
        ons-toolbar(inline)
          .center A침adir nuevo
        form(action="#", ng-controller="DialogCtrl", ng-submit="submit()").m10.requerimientos
          ons-row
            ons-col: +input('cantidad', 'Cantidad')
            ons-col: +input('unidad', 'Unidad')
          ons-row
            ons-col: +input('clave', 'Clave', 'text', 'lateral_db_catalogos.html')
          ons-row
            ons-col.text-center
              button(type="button", ng-click="addItemDialog.hide()").mdl-button.mdl-js-button.mdl-button--colored
                ons-icon(icon="ion-close")
                |  Cancelar
            ons-col.text-center
              button(type="submit", ng-click="addItemDialog.hide()").mdl-button.mdl-js-button.mdl-button--colored
                ons-icon(icon="ion-plus-round")
                |  A침adir elemento
